html, body {
  height:100%;
}

body {
  &.loaded {
    .loading {
      display: none;
    }
  }

  &:not(.loaded) {
    .loading {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #eee;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}