@import "../../styles/variables";

.fbm-header {

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background: -webkit-linear-gradient(bottom, rgba(255,255,255,1),  rgba(255,255,255,.5)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,      rgba(255,255,255,1),  rgba(255,255,255,.5)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,    rgba(255,255,255,1),  rgba(255,255,255,.5)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom,      rgba(255,255,255,1),  rgba(255,255,255,.5)); /*Standard*/

  .header-wrapper {
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    padding: 20px 20px;


    .logo-wrapper {
      flex-grow: 1;
    }

    nav {
      flex-grow: 3;

      ul {
        font-size: 2em;
        height: 100%;
        display: flex;
        justify-content: space-around;

        li {
          align-self: center;
          margin: 0 5px;
          a{

          }
        }
      }
    }
  }

}