<header class="fbm-header">
	<div class="header-wrapper">
		<div class="logo-wrapper">
			<a>
				<div class="logo-img"></div>
			</a>
		</div>
		<nav>
			<ul>
				<li *ngFor="let state of states">
					<a *ngIf="state.visible"
						 (click)="chooseState(state)"
						 title="{{state.path}}">
						<i [ngClass]="processClass(state)"></i>
					</a>
					<!--<input type="text"-->
					<!--[(ngModel)]="state.key"/>-->
				</li>
			</ul>
		</nav>
	</div>
</header>



<!--<a [routerLink]="['/login']">login</a>-->
<!--<a [routerLink]="['/logout']">logout</a>-->

<!--<div *ngIf="activeState">-->
<!--{{activeState.key}}-->
<!--</div>-->